 * {
    font-size: 13px;
}

.disable-bracken {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#menu {
    width: 140px;
    left: 0;
    top: 0;
    height: 885px;
    background-color: #026b97 !important;
}

#content {
    right: auto;
    width: 93%;
    left: 140px;
    top: 0px;
    margin: 0px;
    height: 885px;
    position: absolute;
    font-weight: 300;
    top: 52px;
    padding-right: 10px;
}

#main-content {
    padding: 8px;
    right: auto;
    left: 0px;
    top: 0px;
    margin: 0px;
    height: 885px;
    width: 100%;
    background-color: #e5e6eb;
    text-align: center;
}

#content-top {
    border-width: 1px 1px 0px;
    height: 36px;
    margin: 0px;
    width: 100%;
    right: auto;
    left: 0px;
    top: 0px;
    background-color: #026b97;
    display: flex;
}

#content-mid {
    margin: 0px;
    width: 100%;
    right: auto;
    left: 0px;
    top: 36px;
    height: 520px;
    border: 1px solid #c3c3c3;
}

.tblEmployee {
    margin: 0px;
    width: 100%;
    right: auto;
    left: 0px;
    top: 36px;
    height: 62px;
}

.tblItem {
    margin: 0px;
    width: 100%;
    right: auto;
    left: 0px;
    top: 72px;
    height: 453px;
    overflow: scroll;
    overflow-x: hidden;
}

.tblEmployee th {
    border-right: 1px solid #c3c3c3;
}



/*.tblEmployee th:nth-child(1) {
        border-left: 1px solid #808080;
    }*/

.tblItem td {
    border: 1px solid #e9e9e9;
    text-align: left;
}

    .tblItem td:nth-child(1) {
        border-left: none;
    }

.tblItem tr:hover {
    background-color: rgb(234,239,244);
}

table, th, td {
    border-collapse: collapse;
    padding: 7px 10px 6px;
}

.tblEmployee td {
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    padding: 0;
    height: 30px;
}

.row-filter {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #c3c3c3;
    position: relative;
    cursor: pointer;
}

.button-filter {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    margin-left: 2px;
    border-bottom: none;
    cursor: pointer;
}

.text-filter {
    border: 1px solid #c3c3c3;
    border-bottom: none;
    padding: 5px 10px;
    position: relative;
}

.button-filter-date {
    background-color: #fff;
    position: relative;
    width: 24px;
    border: none;
    background: url('/Contents/Icons/common-icon.png') no-repeat 0 -169px;
}

.button-filter-gender {
    background-color: #fff;
    cursor:pointer;
    width: 24px;
    border: none;
    background: url('/Contents/Icons/arrow-down-line.png') no-repeat 12px 15px;
}

.dropdown-filter {
    background-color: #fff;
    position: absolute;
    display: block;
    height: 160px;
    width: 122px;
    color: black;
    text-decoration: none;
    text-align: left;
    box-shadow: rgb(136, 136, 136) 0px 0px 6px;
    display: none;
}

.dropdown-filter1 {
    top: 32px;
    left: 2px;
}

.dropdown-filter2 {
    top: 32px;
    left: 4px;
}

    .dropdown-filter a {
        color: black;
        text-decoration: none;
    }

.filter-item {
    width: 100%;
    height: 32px;
    padding-left: 20px;
    padding-top: 8px;
}

    .filter-item:hover{
        background-color: #247ba0;
        color: #fff;
    }
        .filter-item:hover a {
            color: #fff;
        }


        .toolbar-item {
            color: #fff;
            line-height: 36px;
            display: flex;
            align-items: center;
            padding: 0 8px;
        }

    .toolbar-item:hover {
        cursor: pointer;
        background-color: #0088c2;
    }

.toolbar-icon {
    background: url(/Contents/Icons/common-icon.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding-bottom: 3px;
}

.toolbar-item-add {
    background-position: -1px -127px;
}

.toolbar-item-duplicate {
    background-position: -976px -127px;
}

.toolbar-item-edit {
    background-position: -77px -203px;
}

.toolbar-item-delete {
    background-position: -1076px -127px;
}

.toolbar-item-load {
    background-position: -876px -127px;
}

.boder {
    height: 32px;
    border-style: solid;
    border-width: 0 0 0 1px;
    margin-top: 2px;
    border-left-color: #1882ae;
    border-right-color: #1882ae;
}

.text {
    padding: 0 5px;
}

.tblEmployee {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    background-color: #F0F0F0;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
}

.bottom-table {
    width: 100%;
    height: 52px;
    border: 1px solid #c3c3c3;
    border-top: none;
    background-color: #fff;
    padding: 10px;
}

.box-inner {
    width: 100%;
    height: 32px;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    margin-top: 3px;
}

.icon {
    background: url(/Contents/Icons/common-icon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #247ba0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 1px;
    /*position: absolute;
    top: 3px;*/
}

.icon-first {
    background-position: -649px -124px;
    /*left: 4px;*/
}

.icon-second {
    background-position: -700px -124px;
    /*left: 30px;*/
}

.icon-three {
    background-position: -749px -124px;
}

.icon-four {
    background-position: -798px -124px;
}

.icon-five {
    background-position: -849px -124px;
}

.text1 {
    margin: 0 10px 0 4px;
    margin-top: 4px;
}

.input {
    -webkit-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #d0d0d0;
    height: 26px;
    border-radius: 3px;
}

.input-detail {
    padding: 4px 6px 4px 6px;
    text-align: center;
    width: 48px;
    height: 24px;
    border: none;
}

.select {
    outline: none;
    height: 24px;
    -webkit-appearance: none;
    text-indent: 1px;
    -webkit-border-radius: 3px;
    width: 46px;
    padding-left: 4px;
    color: #212121;
    background: url('/Contents/Icons/arrow-down-line.png') no-repeat 30px center;
}

.text2 {
    position: absolute;
    top: 580px;
    right: 50px;
}

#content-bottom {
    margin: 0px;
    height: 250px;
    width: 100%;
    right: auto;
    left: 0px;
    top: 610px;
}

.menu-top {
    width: 100%;
    height: 44px;
    display: flex;
    text-align: left;
    background-color: #fff;
    margin-top: 4px;
    padding-top: 16px;
    font-size: 1rem;
    cursor: pointer;
}

.item1 {
    color: #026b97;
    font-weight: 600;
    border-bottom: 2px solid #026b97;
    background-color: #f6f6f6 !important;
    padding: 0 8px;
}

.item2 {
    color: #737373;
    font-weight: 600;
    padding: 0 8px;
}

.boder-menu-bottom {
    background-color: #e1e1e1;
    width: 1px;
    height: 25px;
    content: "";
    margin-left: 4px;
}

.bottom {
    height: 212px;
    border: 1px solid #c3c3c3;
}

.table-bottom {
    height: 212px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin-top: 2px;
    overflow: scroll;
    text-align: center;
    background-color: #fff;
}

    .table-bottom div {
        overflow: auto;
        display: block;
        width: auto;
        height: auto;
        min-height: 20px;
        min-width: 20px;
    }

    .table-bottom td {
        border: 1px solid #c3c3c3;
        text-align: left;
    }

        .table-bottom td:nth-child(1) {
            border-left: none;
        }

    .table-bottom th {
        border-right: 1px solid #c3c3c3;
    }

/*.table-bottom th:nth-child(1) {
            border-left: 1px solid #808080;
        }*/

/*.ui-widget-header {
    background-color: aqua !important;
}*/

.ui-dialog {
    padding: 0px !important;
}

.ui-datepicker-trigger {
    display: none;
}