#header {
    height: 52px;
    right: auto;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
}

.logo {
    width: 140px;
    height: 52px;
    display: table-cell;
    background-color: #006189;
    color: #fff;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding-top: 12px;
}

.title {
    text-align: center;
    height: 52px;
    overflow: hidden;
}

.title-label {
    padding: 0px 0px 0px 21px;
    right: auto;
    left: 0px;
    top: 18px;
    margin: 0px;
    font-size: 18px !important;
    font-weight: bold;
    padding-top: 12px;
}

.mid-title {
    width: 82%;
    height: 52px;
    overflow: hidden;
    border-right: 1px solid #e1e1e1;
}

.button-back {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 210px;
    height: 26px;
    right: 520px;
    top: 16px;
    display: flex;
}

.icon-back {
    background: url('/Contents/Icons/back.png') no-repeat 0 1px;
    width: 20px;
    line-height: 20px;
    margin-right: 4px;
    margin-top: 3px;
}

.text-back {
    color: #026b97;
    font-weight: bold;
    height: 20px !important;
}

.border-title {
    position: absolute;
    height: 20px;
    border-style: solid;
    border-width: 0 0 0 1px;
    top: 16px;
    border-left-color: #1882ae;
    border-right-color: #1882ae;
    right: 500px;
}


button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.selectbox {
    position: absolute;
    padding: 0px;
    margin: 0px;
    min-width: 162px;
    height: 32px;
    right: 280px;
    top: 8px;
    display: flex;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    background-color: white;
    padding-bottom: 5px;
}



.dropdown-selectbox {
    background-color: white;
    position: absolute;
    top: 40px;
    right: 280px;
    border: 1px solid #c3c3c3;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    display: none;
}

    .dropdown-selectbox a {
        text-decoration: none;
        color: black;
    }

        .dropdown-selectbox a:hover {
            color: #026b97;
        }

.show {
    display: block;
}

.header-text {
    padding-top: 6px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

.header-icon {
    background-image: url('/Contents/Icons/arrow-down-line.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 2px;
    padding-top: 6px;
    margin-top: 15px;
}

.avata {
    position: absolute;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    height: 32px;
    right: 120px;
    top: 8px;
    display: flex;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

.avata-image {
    background-image: url("https://demoquanao.mshopkeeper.vn/backendg1/api/Image?id=&type=0&w=50&h=50&CompanyCode=demoquanao");
    background-repeat: no-repeat;
    background-size: 28px;
    width: 28px;
    height: 28px;
}

.avata-name {
    padding-top: 6px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

.notification {
    width: 46px;
    height: 36px;
    background-color: white;
    margin-top: 15px;
}

.notyfy-icon {
    background-image: url('/Contents/Icons/notify-18.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 18px;
    margin-left: 15px;
}
    .notyfy-icon:hover {
        background-image: url('../../Contents/Icons/notify-hover-18.png');
    }

    .border-header {
        width: 1px;
        height: 52px;
        background-color: #e1e1e1;
    }

.help {
    width: 46px;
    height: 36px;
    background-color: white;
    margin-top: 15px;
}

.help-icon {
    background-image: url('../../Contents/Icons/icon_help_18.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    margin-left: 15px;
}

    .help-icon:hover {
        background-image: url('/Contents/Icons/icon-help-18-hover.png');
    }
