<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quản lý nhân viên</title>
    <link href="/CSS/Library/bootstrap.min.css" rel="stylesheet" />
    <link href="/CSS/Library/jquery-ui.css" rel="stylesheet" />
    <link href="/CSS/Common/main.css" rel="stylesheet" />
    <link href="/CSS/View/header.css" rel="stylesheet" />
    <link href="/CSS/View/menu.css" rel="stylesheet" />
    <link href="/CSS/Common/datepicker-custom.css" rel="stylesheet" />
    <link href="/CSS/View/employee.css" rel="stylesheet" />
    <link href="/CSS/View/dialog.css" rel="stylesheet" />

</head>
<body>
    <!-- Tạo Header --></!-->
    <div id="header">
        <div class="logo">
            <a href="#">
                <img src="/Contents/Images/logo-mshopkeeper.png" style="width: 120px;" />
            </a>
        </div>
        <div class="title" style="width: 105px;">

            <label class="title-label">Nhân viên</label>

        </div>

        <div class="mid-title">
            <a href="#">
                <div class="button-back">

                    <div class="icon-back">

                    </div>
                    <div class="text-back">Quay lại trang bắt đầu sử dụng</div>

                </div>
            </a>
            <div class="border-title"></div>
            <button class="selectbox" id="selectbox" onclick="showDropdown()">
                <span class="header-text">Thời trang MM Thành Công</span>
                <span class="header-icon"></span>
            </button>
            <div class="dropdown-selectbox">
                <div>Thời trang MM Thành Công</div>
            </div>

            <button class="avata" id="avata" onclick="dropdownAvata()">
                <div class="avata-image"></div>
                <div class="avata-name">Cao Công Hân</div>
                <div class="header-icon header-icon1"></div>
            </button>
        </div>
        <div class="notification">
            <div class="notyfy-icon"></div>
        </div>
        <div class="border-header"></div>
        <div class="help">
            <div class="help-icon"></div>
        </div>

    </div>

    <!-- Menu bên trái-->
    <div id="menu">
        <div class="center-content-menu">
            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-1"></div>
                    <div class="menu-text">Tổng quan</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-2"></div>
                    <div class="menu-text">Báo cáo</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-3"></div>
                    <div class="menu-text">Sổ giao hàng</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-4"></div>
                    <div class="menu-text">Mua hàng</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-5"></div>
                    <div class="menu-text">Kho</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-6"></div>
                    <div class="menu-text">Quỹ tiền</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-7"></div>
                    <div class="menu-text">Chi phí</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-8"></div>
                    <div class="menu-text">Khuyến mại</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-9"></div>
                    <div class="menu-text">Danh mục</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-10"></div>
                    <div class="menu-text">Hóa đơn điện tử</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-11"></div>
                    <div class="menu-text">Thiết lập</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-12"></div>
                    <div class="menu-text">Trợ giúp</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-13"></div>
                    <div class="menu-text">OCM</div>
                </div>
            </a>

            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-14"></div>
                    <div class="menu-text">5Shop</div>
                </div>
            </a>
        </div>
        <div class="bottom-content-menu">
            <a href="#">
                <div class="menu-item">
                    <div class="menu-icon icon-15"></div>
                    <div class="menu-text">Hàng hóa</div>
                </div>
            </a>
        </div>
    </div>

    <!-- Conten giữa-->
    <div id="content">
        <div id="main-content">

            <!-- Thanh Menu ở đầu bảng-->
            <div id="content-top">
                <div class="toolbar-item" id="btnAddLayout">
                    <div class="toolbar-icon toolbar-item-add"></div><div class="text">Thêm mới</div>
                </div>
                <div class="boder"></div>
                <div class="toolbar-item">
                    <div class="toolbar-icon toolbar-item-duplicate"></div><div class="text">Nhân bản</div>
                </div>
                <div class="boder"></div>
                <div class="toolbar-item">
                    <div class="toolbar-icon toolbar-item-edit"></div><div class="text">Sửa</div>
                </div>
                <div class="boder"></div>
                <div class="toolbar-item">
                    <div class="toolbar-icon toolbar-item-delete"></div><div class="text">Xóa</div>
                </div>
                <div class="boder"></div>
                <div class="toolbar-item">
                    <div class="toolbar-icon toolbar-item-load"></div><div class="text">Nạp</div>
                </div>

            </div>

            <!-- Bảng nhân viên-->
            <div id="content-mid">
                <div class="tblEmployee">
                    <table style="width: 99%">
                        <thead>
                            <tr propertyInfo>
                                <th fielName="EmployeeCode" width="12%">Mã nhân viên</th>
                                <th fielName="EmployeeName" width="52%">Tên nhân viên</th>
                                <th fielName="Dob" width="10%">Ngày sinh</th>
                                <th fielName="Gender" width="5%">Giới tính</th>
                                <th fielName="Phone" width="12%">Số điện thoại</th>
                                <th fielName="WorkingStatus" width="calc(100%-84%)">Trạng thái làm việc</th>
                            </tr>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row-filter">
                                        <div id="button-filter1">
                                            <button class="button-filter" style="width:34px; height: 100%;"><span class="current-filter">*</span></button>
                                        </div>
                                        <div class="dropdown-filter dropdown-filter1" id="dropdown-filter1">
                                            <div class="filter-item" data-filter="*"><a href="#"><span>*:Chứa</span></a></div>
                                            <div class="filter-item" data-filter="="><a href="#"><span>=:Bằng</span></a></div>
                                            <div class="filter-item" data-filter="+"><a href="#"><span>+:Bắt đầu bằng</span></a></div>
                                            <div class="filter-item" data-filter="-"><a href="#"><span>-:Kết thúc băng</span></a></div>
                                            <div class="filter-item" data-filter="!"><a href="#"><span>!:Không chứa</span></a></div>
                                        </div>
                                        <input class="text-filter" style="width:170px; height: 100%;" type="text" />
                                    </div>
                                </td>
                                <td>
                                    <div class="row-filter">
                                        <div id="button-filter2">
                                            <button class="button-filter" style="width:34px; height: 100%;"><span class="current-filter">*</span></button>
                                        </div>
                                        <div class="dropdown-filter dropdown-filter2" id="dropdown-filter2">
                                            <div class="filter-item" data-filter="*"><a href="#"><span>*:Chứa</span></a></div>
                                            <div class="filter-item" data-filter="="><a href="#"><span>=:Bằng</span></a></div>
                                            <div class="filter-item" data-filter="+"><a href="#"><span>+:Bắt đầu bằng</span></a></div>
                                            <div class="filter-item" data-filter="-"><a href="#"><span>-:Kết thúc băng</span></a></div>
                                            <div class="filter-item" data-filter="!"><a href="#"><span>!:Không chứa</span></a></div>
                                        </div>
                                        <input class="text-filter" style="width:865px; height: 100%;" type="text" />
                                    </div>
                                </td>
                                <td>
                                    <div class="row-filter row-filter1">
                                        <div id="button-filter4">
                                            <button class="button-filter" style="width:34px; height: 100%; border-top: none"><span class="current-filter">=</span></button>
                                        </div>
                                        <div class="dropdown-filter dropdown-filter2" id="dropdown-filter4" style="width:160px;">
                                            <div class="filter-item" data-filter="="><a href="#"><span>= : Bằng</span></a></div>
                                            <div class="filter-item" data-filter="<"><a href="#"><span>< : Nhỏ hơn</span></a></div>
                                            <div class="filter-item" data-filter="≤"><a href="#"><span>≤ : Nhỏ hơn hoặc bằng</span></a></div>
                                            <div class="filter-item" data-filter=">"><a href="#"><span>> : Lớn hơn</span></a></div>
                                            <div class="filter-item" data-filter="≥"><a href="#"><span>≥ : Lớn hơn hoặc bằng</span></a></div>
                                        </div>
                                        <input class="text-filter" id="text-filter" style="width:110px; height: 100%; border-right: none; border-top: none;border-left:1px solid #c3c3c3; outline: none" type="text" />
                                        <button class="button-filter-date" id="button-filter-date"></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="row-filter">
                                        <input class="text-filter current-filter" style="width:55px; height: 100%; outline: none; border-top: none; border-right: none; border-left: none;" type="text" value="Tất cả" />
                                        <button class=" button-filter button-filter-gender" id="button-filter5"></button>
                                        <div class="dropdown-filter dropdown-filter2" id="dropdown-filter5" style="width:85px; height: 102px;">
                                            <div class="filter-item" data-filter="Tất cả"><a href="#"><span>Tất cả</span></a></div>
                                            <div class="filter-item" data-filter="Nam"><a href="#"><span>Nam</span></a></div>
                                            <div class="filter-item" data-filter="Nữ"><a href="#"><span>Nữ</span></a></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row-filter">
                                        <div id="button-filter3">
                                            <button class="button-filter" style="width:34px; height: 100%;"><span class="current-filter">*</span></button>
                                        </div>
                                        <div class="dropdown-filter dropdown-filter2" id="dropdown-filter3">
                                            <div class="filter-item" data-filter="*"><a href="#"><span>*:Chứa</span></a></div>
                                            <div class="filter-item" data-filter="="><a href="#"><span>=:Bằng</span></a></div>
                                            <div class="filter-item" data-filter="+"><a href="#"><span>+:Bắt đầu bằng</span></a></div>
                                            <div class="filter-item" data-filter="-"><a href="#"><span>-:Kết thúc băng</span></a></div>
                                            <div class="filter-item" data-filter="!"><a href="#"><span>!:Không chứa</span></a></div>
                                        </div>
                                        <input class="text-filter" style="width:170px; height: 100%;" type="text" />
                                    </div>
                                </td>
                                <td>
                                    <div class="row-filter">
                                        <input class="text-filter current-filter" style="width:125px; height: 100%; outline: none; border-top: none; border-right: none; border-left: none;" type="text" value="Chính thức" />
                                        <button class=" button-filter button-filter-gender"></button>
                                        <div class="dropdown-filter dropdown-filter2" id="dropdown-filter5" style="width:160px; height: 130px;">
                                            <div class="filter-item" data-filter="Tất cả"><a href="#"><span>Tất cả</span></a></div>
                                            <div class="filter-item" data-filter="Chính thức"><a href="#"><span>Chính thức</span></a></div>
                                            <div class="filter-item" data-filter="Thử việc"><a href="#"><span>Thử việc</span></a></div>
                                            <div class="filter-item" data-filter="Đã nghỉ việc"><a href="#"><span>Đã nghỉ việc</span></a></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tblItem">
                    <table style="width: 100%">
                        <tbody body></tbody>
                    </table>
                </div>
            </div>

            <!-- Thanh chức năng bên dưới bảng nhân viên-->
            <div class="bottom-table">

                <div class="box-inner">
                    <div class="icon icon-first"></div>
                    <div class="icon icon-second"></div>
                    <div class="text1">Trang</div>
                    <div class="input">
                        <input type="text" value="1" class="input-detail" />
                    </div>
                    <div class="text1">trên 1 </div>
                    <div class="icon icon-three"></div>
                    <div class="icon icon-four"></div>
                    <div class="icon icon-five"></div>
                    <div>
                        <select class="select">
                            <option value="15">15</option>
                            <option value="25">25</option>
                            <option value="50" selected>50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="text2"><p>Hiển thị 1 - 16 trên 16 kết quả</p></div>
            </div>

            <!-- Bảng chi tiết nhân viên-->
            <div id="content-bottom">
                <div class="menu-top">
                    <div class="item1">Vai trò</div>
                    <div class="boder-menu-bottom"></div>
                    <div class="item2">Thông tin liên hệ</div>
                </div>

                <div class="table-bottom">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th><div>Tên vai trò</div></th>
                                <th><div>Diễn giải</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div>Quản lý cửa hàng</div></td>
                                <td><div>Quản lý tất cả các hoạt động của cửa hàng</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- Xử lý dropdown Menu với JS-->
    <div class="dropdown-selectbox" id="dropdown-selectbox">
        <a href="#">Thời trang MM Thành Công</a>
    </div>

    <div class="dropdown-avata" id="dropdown-avata">
        <div class="avata-item"><a class="item-icon1" href="#"><span class="text-avata">Thay đổi mật khẩu</span></a></div>
        <div class="avata-item"><a class="item-icon2" href="#"><span class="text-avata">Góp ý với nhà phát triển</span></a></div>
        <div class="avata-item"><a class="item-icon3" href="#"><span class="text-avata">Đăng xuất</span></a></div>
    </div>

    <div class="dropdown-user">

    </div>

    <!-- Tạo Dialog-->
    <div class="dialogEmployeeDetail" title="Thêm mới nhân viên">
        <div class="header-dialog">
            <div class="header-item header-item-selected">Thông tin cơ bản</div>
            <div class="border-dialog"></div>
            <div class="header-item">Thông tin liên hệ</div>
            <div class="border-dialog"></div>
            <div class="header-item">Thông tin hồ sơ</div>
            <div class="border-dialog"></div>
            <div class="header-item">Thời gian truy cập</div>
        </div>

        <div class="content-dialog">
            <div class="row-top">
                <div class="code-name">
                    <div class="code">
                        <div class="code-text">Mã nhân viên <span style="color:red">*</span></div>
                        <input class="code-input" type="text" value="NV00003">
                    </div>
                    <label class="label-code">Dùng làm tên đăng nhập vào hệ thống, có thể sử dụng số điện thoại hoặc email</label>
                    <div class="name code">
                        <div class="code-text">Tên nhân viên <span style="color:red">*</span></div>
                        <input class="code-input" type="text">
                    </div>
                </div>

                <div class="image-text">
                    <p>Ảnh nhân viên</p>
                    <p class="label-image">Định dạng ảnh (.jpg, .jpeg, .png, .gif) và dung lượng < 5MB</p>
                </div>
                <div class="image">
                    <div class="icon-image">

                    </div>
                    <button class="button-image">...</button>
                </div>
            </div>
            <div class="role">
                <div class="role-text">Vai trò</div>
                <div class="multi-select">
                    <div class="role-select">
                        <ul></ul>
                        <input class="input-select" type="text" />
                    </div>
                    <div class="select-icon1"></div>
                    <div class="select-icon2"></div>
                </div>
            </div>
            <div class="allow">

            </div>
            <div class="password">

            </div>
            <div class="confirm-pasword">

            </div>
            <div class="cmnn">

            </div>
            <div class="dateID">

            </div>
            <div class="addressId">

            </div>
            <div class="dob">

            </div>
            <div class="status">

            </div>
            <div class="phone">

            </div>
            <div class="marriage">

            </div>
            <div class="gender">

            </div>
        </div>
    </div>


    <script src="/Scripts/Library/jquery-3.2.1.slim.min.js"></script>
    <script src="../Scripts/Library/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/Library/jquery-ui.min.js"></script>
    <script src="/Scripts/Library/popper.min.js"></script>
    <script src="/Scripts/Library/bootstrap.min.js"></script>
    <script src="/Scripts/Common/Format.js"></script>
    <script src="/Scripts/View/employee.js"></script>
</body>
</html>